<template>
  <ux-grid>
    <ux-grid-cell>
      <h1 class="section-title">
        &lt;ux-card&gt;&lt;/ux-card&gt;
      </h1>

      <p>
        <strong>Package:</strong> @aurelia-ux/card
      </p>

      <p>
        <strong>Also in:</strong> @aurelia-ux/components
      </p>
    </ux-grid-cell>

    <ux-card md="6" lg="4">
      <ux-card-header>
        <div class="ux-card__title">
          Title
          <div class="ux-card__sub-title">Subtitle</div>
        </div>
      </ux-card-header>
      <ux-card-action-row>
        <ux-button type="text">
          <ux-icon icon="share"></ux-icon>
        </ux-button>
        <ux-button type="text">
          <ux-icon icon="bookmark"></ux-icon>
        </ux-button>
        <ux-button type="text">
          <ux-icon icon="star"></ux-icon>
        </ux-button>
      </ux-card-action-row>
      <ux-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </ux-card-content>
    </ux-card>

    <ux-card class="ux-card--dense" md="6" lg="4">
      <ux-card-header color="accent">
        <div class="ux-card__title">
          Accent Header
          <div class="ux-card__sub-title">dense</div>
        </div>
        <h2>800 Items</h2>
      </ux-card-header>
      <ux-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </ux-card-content>
    </ux-card>

    <ux-card md="6" lg="4">
      <img class="ux-card__img" src="https://images.pexels.com/photos/841286/pexels-photo-841286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
      <ux-card-footer>
        <ux-button type="text">
          <ux-icon icon="share"></ux-icon>
        </ux-button>
        <ux-button type="text">
          <ux-icon icon="bookmark"></ux-icon>
        </ux-button>
        <ux-button type="text">
          <ux-icon icon="star"></ux-icon>
        </ux-button>
      </ux-card-footer>
    </ux-card>

    <ux-card md="6" lg="4">
      <ux-card-header>
        <div class="ux-card__title" size="small">
          Title
          <div class="ux-card__sub-title">Dense</div>
        </div>
      </ux-card-header>
      <ux-card-action-row>
        <ux-button type="text">
          <ux-icon icon="share"></ux-icon>
        </ux-button>
        <ux-button type="text">
          <ux-icon icon="bookmark"></ux-icon>
        </ux-button>
        <ux-button type="text">
          <ux-icon icon="star"></ux-icon>
        </ux-button>
      </ux-card-action-row>
      <ux-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </ux-card-content>
    </ux-card>

    <ux-card md="6" lg="4">
      <ux-card-header>
        <div class="ux-card__header-row">
          <div class="ux-card__title" size="small">
            Actions
          </div>
          <div class="ux-card__spacer"></div>
          <ux-button type="text">
            <ux-icon icon="more_vert"></ux-icon>
          </ux-button>
        </div>
      </ux-card-header>
      <ux-card-content>
        <ux-form>
          <ux-field label="First Name">
            <ux-input maxlength="10" value.bind="firstName"></ux-input>
            <ux-input-info ux-input-counter>John</ux-input-info>
          </ux-field>

          <ux-field label="Last Name">
            <ux-input maxlength="10" value.bind="lastName"></ux-input>
            <ux-input-info ux-input-counter>Doe</ux-input-info>
          </ux-field>
        </ux-form>
      </ux-card-content>
      <ux-card-footer>
        <ux-button type="flat">Flat UX-Button</ux-button>
        <ux-button type="text">Text Button</ux-button>
      </ux-card-footer>
    </ux-card>

    <ux-card md="6" lg="4">
      <ux-card-header color="primary">
        <div class="ux-card__title">
          Primary Header
          <div class="ux-card__sub-title">standard</div>
        </div>
        <h2>800 Items</h2>
      </ux-card-header>
      <ux-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </ux-card-content>
    </ux-card>


    <ux-card md="6" lg="4">
      <ux-card-header color="primary">
        <div class="ux-card__header-row">
          <div class="ux-card__title">
            Primary Header Row
          </div>
          <div class="ux-card__spacer"></div>
          <ux-button type="text">
            <ux-icon icon="more_vert"></ux-icon>
          </ux-button>
        </div>
        <h2>800 Items</h2>
      </ux-card-header>
      <ux-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </ux-card-content>
    </ux-card>

    <ux-card md="6" lg="4">
      <img class="ux-card__img" src="https://images.pexels.com/photos/869258/pexels-photo-869258.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
      <ux-card-header>
        <div class="ux-card__title">
          Image Card
        </div>
      </ux-card-header>
      <ux-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </ux-card-content>
    </ux-card>

    <ux-card md="6" lg="4">
      <img class="ux-card__img" src="https://images.pexels.com/photos/56866/garden-rose-red-pink-56866.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
      <ux-card-header>
        <div class="ux-card__title" size="small">
          Image Card
          <div class="ux-card__sub-title">Subtitle</div>
        </div>
      </ux-card-header>
      <ux-card-content>
        Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.
      </ux-card-content>
      <ux-card-footer>
        <ux-button type="flat">Flat UX-Button</ux-button>
      </ux-card-footer>
    </ux-card>
  </ux-grid>
</template>
